<%- include('includes/head'); %>


<div class="container d-flex justify-content-center">

    <section class="container-section">

        <div class="row">
            <div class="col-12">
                <div class="display-4 text-center">Agenda</div>
                <div class="lead text-center">Seus contatos estão abaixo</div>

                <%- include("includes/messages") %>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <% if(contatos.length > 0) { %>
                    <div class="responsive-table ">
                        <table class="table my-3 ">
                            <% contatos.forEach(contato => { %>
                                <tr>
                                    <td><%= contato.nome %></td>
                                    <td><%= contato.sobrenome %></td>
                                    <td><%= contato.telefone %></td>
                                    <td><%= contato.email %></td>
                                    <td><a href="/contato/index/<%= contato._id %>">Editar</a></td>
                                    <td class="text-danger"><a href="/contato/delete/<%= contato._id %>">Excluir</a></td>
                                </tr>
                            <% }) %>
                            
                        </table>
                    </div>
                <% } else { %>
                    <p class="lead text-center">Ainda não existem contatos na Agenda</p>
                <% } %>

            </div>
        </div>
    </section>
</div>
<%- include('includes/footer'); %>